.version
Makefile
autom4te.cache/
config.log
config.status
configure~
doc/.dirstamp
doc/cross-options.texi~
doc/yacc.1
etc/bench.pl
examples/c++/.deps/
examples/c++/calc++/.deps/
examples/c++/glr/.deps/
examples/c/bistromathic/.deps/
examples/c/calc/.deps/
examples/c/glr/.deps/
examples/c/lexcalc/.deps/
examples/c/mfcalc/.deps/
examples/c/pushcalc/.deps/
examples/c/reccalc/.deps/
examples/c/reccalc/scan.c
examples/c/reccalc/scan.h
examples/c/reccalc/scan.stamp
examples/c/rpcalc/.deps/
gnulib-po/Makefile
gnulib-po/Makefile.in
gnulib-po/POTFILES
javacomp.sh
javaexec.sh
lib/.deps/
lib/.dirstamp
lib/alloca.h
lib/bitset/.deps/
lib/bitset/.dirstamp
lib/bitset/*.o
lib/config.h
lib/configmake.h
lib/fcntl.h
lib/glthread/.deps/
lib/glthread/.dirstamp
lib/glthread/libbison_a-lock.o
lib/glthread/libbison_a-threadlib.o
lib/glthread/libbison_a-tls.o
lib/iconv.h
lib/inttypes.h
lib/*.a
lib/*.o
lib/limits.h
lib/locale.h
lib/malloc/.deps/
lib/malloc/.dirstamp
lib/malloc/*.o
lib/malloc/scratch_buffer.gl.h
lib/math.h
lib/sched.h
lib/signal.h
lib/spawn.h
lib/stamp-h1
lib/stdio.h
lib/stdlib.h
lib/string.h
lib/sys/
lib/termios.h
lib/textstyle.h
lib/time.h
lib/unistd.h
lib/unistr.h
lib/unistr/.deps/
lib/unistr/.dirstamp
lib/unistr/*.o
lib/unitypes.h
lib/uniwidth.h
lib/uniwidth/.deps/
lib/uniwidth/.dirstamp
lib/uniwidth/*.o
lib/wchar.h
lib/wctype.h
po/Makefile
po/Makefile.in
po/POTFILES
runtime-po/Makefile
runtime-po/Makefile.in
runtime-po/POTFILES
src/.deps/
src/.dirstamp
src/bison
src/*.o
src/share/
src/yacc
tests/atconfig
tests/atlocal
tests/bison
